/* Css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
header {
    min-height: var(--mh-xxl);
}

nav {
    line-height: 30px;
    background-color: aquamarine;
    padding: var(--nav-pd);
    max-width: 1100px;
    margin: 0 auto;
}

span {
    margin: 0 5px;
}

figure {
    width: 40%;
    background-color: olivedrab;
}

/* Utilities */
.background-nav {
    padding: var(--bg-pd-sm);
    background-color: slateblue;
}

.logo {
    text-align: left;
}

.login {
    text-align: right;
}

.background-intro {
    background-color: cornflowerblue;
    padding: var(--bg-pd-lg);
}

.introduction-card {
    background-color: blueviolet;
}

.background-argument {
    min-height: var(--mh-xxl);
    padding: var(--bg-pd-lg);
}

.bd-seagreen {
    background-color: lightseagreen;
}

.bd-azure {
    background-color: azure;
}

.bd-mturquoise {
    background-color: mediumturquoise;
}

.text-argument {
    width: 60%;
    background-color: yellowgreen;
}

.higher {
    min-height: var(--mh-xxxl);
}