/* Css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
header {
    min-height: var(--mh-xxl);
}

nav {
    line-height: 30px;
    background-color: aquamarine;
    padding: var(--nav-pd);
}

span {
    margin: 0 5px;
}

/* Utilities */
.background-nav {
    padding: var(--bg-pd-sm);
    background-color: slateblue;
}

.logo {
    text-align: left;
}

.login {
    text-align: right;
}

.background-intro {
    background-color: cornflowerblue;
    padding: var(--bg-pd-lg);
}

.introduction-card {
    background-color: blueviolet;
    min-height: var(--mh-xl);
}




